.button {
  font-family: 'Montserrat';
  font-size: clamp(18px, 3vw, 24px);
  color: #f4f4f5;
  border: 2px solid #f4f4f5;
  border-radius: 10px;
  padding: 15px 5px;
  width: fit-content;
  background-color: transparent;
}

.small {
  font-size: clamp(16px, 3vw, 18px);
}

.button a {
  padding: 12px 20px;
}

.button:hover {
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
