.navbarContainer {
  font-family: 'Raleway';
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #1d1d20;
  opacity: 0.95;
  z-index: 3;

  display: flex;
  justify-content: space-between;

  height: 47.5px;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
}
.navbarContainer::-webkit-scrollbar {
  display: none;
}

.navbarContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbarContainer li a {
  display: block;
  color: #f4f4f5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbarContainer li a:hover {
  background-color: #2e2e31;
  cursor: pointer;
}

.navbarContainer li.active a:hover {
  background-color: #434347;
}

.navbarContainer li a.logo:hover {
  background-color: #2e2e31;
}

.active {
  background-color: #434347;
}

@media only screen and (max-width: 550px) {
  .navbarContainer li a.logo {
    display: none;
  }
}
